* {
  margin: 0;
  padding: 0;
}
.MainNavDiv {
  display: flex;
  justify-content: space-between;
}
.navbar {
  background-color: transparent;
  margin-left: 10%;
  margin-right: 10%;
  display: inline-block;
}

nav ul {
  display: flex;
flex-direction: row;
justify-content: space-around;
list-style-type: none;
color: white;
font-family: 'Lato', sans-serif;
font-size: 14px;
font-weight: 500;
letter-spacing: 1px;
padding-top: 20px;
padding-right: 30px;

}
nav ul li {
  padding: 10px;
}
.list a {
  color: white;
  text-decoration: none;
}

.mainhead {
height: 550px;
width: auto;
background: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/wot-masthead-dark.jpg") center top;
background-size: cover;
}
.texthead {
  width:760px;
  margin: 0 auto;
  padding-top: 60px;
}
.list a:hover {
  border-bottom: 4px solid;
  border-color: rgb(176, 209, 25);
}

.maintextsmall {
  font-family: 'Oswald';
  font-size: 22px;
  font-weight: 500;
text-align: left;
color: white;
margin: auto;
width: 760px;
display: block;
text-align: left;
margin-left: 34px
/*margin: auto;*/

}
#maintextbig {
  font-family: 'Oswald';
  font-size: 155px;
  font-weight: 300;
display: block;
color: white;
line-height: 140px;
text-align: center;

}
.secmain {
    background-color: rgb(236, 237, 236);
    padding-bottom: 20px;

}
.sec2 {
  text-align: center;
  padding-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: rgb(106, 120, 124);
  line-height: 36px;
  max-width: 940px;
  margin: auto;
  text-align: center;
}
.icon1 {

}
.smalltexthead{
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
color: white;
text-align: center;
padding-top: 15px;
text-align: center;
margin: auto;
height: 50px;
font-family: 'Oswald';
}
#sol{
  color: rgb(176, 209, 24);
}
 #ideas {
   color: rgb(252, 106, 35)
 }
.howtitle {
  font-family: 'Oswald';
  font-size: 42px;
  font-weight: 300;
text-align: center;
line-height: 46.2px;
  color: rgb(106, 120, 124);
  padding-top: 5px;
  padding-bottom: 10px;
}
#work {
  font-size: 42px;
  font-weight: 500;
  color: rgb(176, 209, 24);
}
.weworkwith {
  text-align: center;
  color: rgb(87, 101, 105);
  font-family: 'Oswald';
  font-size: 42px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  font-weight: 300;

}

.portfolio {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;

}

.p11 {
 min-width: 300px;
  height: 240px;
  background-color: green;
  flex-grow: 1;
  background: url(images/pic1.png) center center / cover;

}
.p2 {

  height: 240px;
   background: url(images/pic2.png) center center / cover;
min-width: 300px;
  flex-grow: 1;
}
.p3 {

  height: 240px;
  background-color: blue;
  background: url(images/pic3.png) center center / cover;
  min-width: 300px;
  flex-grow: 1;
}

.portfolio2 {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;

}

.p4 {
 min-width: 300px;
  height: 240px;
  background-color: green;
  flex-grow: 1;
  background: url(images/pic4.png) center center / cover;

}
.p5 {

  height: 240px;
   background: url(images/pic5.png) center center / cover;
   min-width: 300px;
  flex-grow: 1;
}
.p6 {

  height: 240px;
  background-color: blue;
  background: url(images/pic6.png) center center / cover;
  min-width: 300px;
  flex-grow: 1;
}

.darkgreenbackground {
  background-color: #31535A;
  height: 220px;
  width: auto;
  display: flex;
  flex-direction: row;
}
.dbg-text {
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: white;
  text-align: left;
  align-self: center;
  width: 520px;
  padding-left: 30px;

}
 .emailbutton {
   text-shadow: center;
   padding-top: 6px;
   width: 110px;
   height: 28px;
   background: #bdd436 ;
   border: 6px solid #bdd436 ;
   border-radius: 25px;
   font-weight: 500;
   font-size:16px;
   letter-spacing: 1px;
   /*padding: 11px 36px;*/
   font-family: Open Sans;
   text-decoration: none;
   color: #FFF;
   text-align: center;
   margin: auto;
 }
 .emailbutton p {
   text-align: center;
 }

 .Footer {
   background-color: white;
   color: rgb(87, 101, 105);
   padding-left: 20px;
   text-align: left;
   height: 50px;
   padding-top: 15px;
   font-family: 'Lato', sans-serif;
   font-size: 12px;
   letter-spacing: 1px;
 }
 .Footer a{
   color: #bdd436;
 }
 .leavemessage {
   height: 38px;
   width: 170px;
   padding-top: 10px;
   margin-bottom: 15px;
   margin-right: 10px;
   position: fixed;
    border-radius: 5px;
   bottom:0;
   right:0;

    z-index: 2;
    background-color: #bdd436 ;
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
 }
 .blackwhite {
   display: flex;
   flex-direction: row;
    flex-wrap: wrap;
    width: auto;
 }
 .left1 {
   width: 50%;
   height: 410px;
   background: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/wilmington.jpg") bottom center / cover;


 }
 .textleft1{
   height: 125px;
   width: 350px;
   padding: 23px;
   margin: auto;
   background-color: rgba(9, 41, 55, 0.69);
   text-align: left;
   color: white;
   font-family: "Open Sans";
   font-weight: 500;
   font-size: 15px;
   letter-spacing: 1px;
   border-radius: 5px;
   margin-top: 120px;

 }
 .textleft1 span {
   font-size: 33px;
   color: #ADC936;

 }
 .textright1 {
   height: 125px;
   width: 350px;
   padding: 23px;
   margin: auto;
   background-color: rgba(9, 41, 55, 0.69);
   text-align: left;
   color: white;
   font-family: "Open Sans";
   font-weight: 500;
   font-size: 15px;
   letter-spacing: 1px;
   border-radius: 5px;
   margin-top: 120px;

 }
 .textright1 span {
   font-size: 33px;
   color: #ADC936;

 }
 .right1 {
   width: 50%;
   height: 410px;

   background: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/asheville.jpg") bottom center / cover;*/
 }
 .boxgrey {
   height: 720px;
   width: auto;
   background-color: rgb(236, 237, 236);
 }
 .div2 {
   width: 900px;
   width: auto;
   padding-top: 40px;

 }
 .div3 {
   color: #31535A;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 500;
    width: auto;
    text-align: center;
    padding-bottom: 40px;
 }
 .div3 span {
   font-size: 42px;
   font-weight: 300;
   font-family: 'Oswald';

 }
.div3 span a {
  font-weight: 700;
  color: rgb(176, 209, 22);
}
.div4 {
  height: 450px;
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  border-style: border:box;
  max-width: 945px;
  margin: auto;
}
.div5 {
  color: #31535A;
   font-family: "Open Sans";
   font-size: 22px;
   font-weight: 500;
   background-color: white;
   padding: 10px;
   width: 445px;
   text-align: center;
   margin: 10px;

}
.div6 {
  color: #31535A;
   font-family: "Open Sans";
   font-size: 22px;
   font-weight: 500;
   background-color: white;
   padding: 10px;
   width: 445px;
   text-align: center;
    margin: 10px;
}
.div6 span {
  font-size: 16px;
}
.div7 {
  color: #31535A;
   font-family: "Open Sans";
   font-size: 22px;
   font-weight: 500;
   background-color: white;
   padding: 10px;
   width: 445px;
   text-align: center;
    margin: 10px;
}
.div7 span {
  font-size: 16px;
}
.div8 {
  color: #31535A;
   font-family: "Open Sans";
   font-size: 22px;
   font-weight: 500;
   background-color: white;
   padding: 10px;
   width: 445px;
   text-align: center;
   margin: 10px;

}
.div8 span {
  font-size: 16px;
}
.div9 {
  color: #31535A;
   font-family: "Open Sans";
   font-size: 22px;
   font-weight: 500;
   background-color: white;
   padding: 10px;
   width: 445px;
   text-align: center;
   margin: 10px;
}
.div9 span {
  font-size: 16px;
}
.contactbutton {
  text-shadow: center;
  padding-top: 6px;
  width: 160px;
  height: 28px;
  background: #bdd436 ;
  border: 6px solid #bdd436 ;
  border-radius: 25px;
  font-weight: 500;
  font-size:16px;
  letter-spacing: 1px;
  /*padding: 11px 36px;*/
  font-family: Open Sans;
  text-decoration: none;
  color: #FFF;
  text-align: center;
  margin: auto;
}
